
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo App</title>
    <link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container my-2">
        <table>
            
        </table>
    </div>
</body>
</html>